{% extends 'base.html' %}
{% block head %}
<title>
    login
</title>
{% endblock %}
{% block body %}
<form method="POST">
    {% csrf_token %}

    <div class="container row">
        <div class="col s12 m4 offset-m4">
            <div class="card-panel">
                <h3 class="header center">Login</h3>
                <div class="row">
                    <div class="input-field col s12">
                      <input id="username" type="text" class="validate" name="username" required>
                      <label for="username">Username</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password" class="validate" name="password" required>
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <button class="btn">Login</button>
            <ul class="messages mt-5">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} alert-error" {% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
                    {{ message }}
                    </li>
                    {% endfor %}
            </ul>
            </div>
        </div>
    </div>
        {% endblock %}